= content_for :title do
  %h1
    Week #{@week} Rankings

.row
  .two.columns
    %ul.side-nav
      %li= link_to 'Update Projections', update_projections_path
  .ten.columns
    %table
      %thead
        %tr
          %th Rank
          %th Player
          %th Points
      %tbody
        -@projections.each do |pro|
          %tr
            %td= pro.rank
            %td= link_to pro.player, player_path(pro.player)
            %td= pro.standard.round(2)
