= content_for :title do
  %h1= @fantasy_team.name

.row
  .two.columns
    %ul.side-nav
      -if @fantasy_team.fantasy_league.espn_id
        %li= link_to "Update roster", update_roster_fantasy_team_path
      %li= link_to 'Edit', edit_fantasy_team_path(@fantasy_team)
      %li.divider
      %li= link_to @fantasy_team.fantasy_league.name, @fantasy_team.fantasy_league
  .five.columns
    -if @fantasy_players.any?
      %table
        %thead
          %tr
            %th Player
            %th Position
            %th Team
            %th Projection
        %tbody
          -@fantasy_players.each do |p|
            %tr{ class: p.starter ? "starter" : ''  }
              %td= render p.player
              %td= p.position
              %td= p.team
              %td.align-right= p.weekly_projection(@current_week)
        %tfoot
          %tr
            %td{colspan: 3 } Total Points:
            %td.align-right= @total_points
    -else
      Your team doesn't have any players.
  .five.columns
    -if @projections.any?
      %table
        %thead
          %tr
            %th Rank
            %th{colspan: 2} Player
            %th Points
        %tbody
          -@projections.each do |pro|
            %tr
              %td= pro.rank

              -fantasy_player = pro.player.fantasy_players.where(fantasy_team_id: @fantasy_league.fantasy_teams.map(&:id)).first 
              -starter = fantasy_player && fantasy_player.starter
              -c = starter ? 'starter' : @league_players.include?(pro.player) ? 'no-start' : ''
              -team = fantasy_player ? fantasy_player.fantasy_team.name : ''
              %td.pre-icon{ class: c, title: team }

              -c = @players.include?(pro.player) ? 'on-team' : ''
              %td{class: c}
                = render pro.player
                #{pro.player.position}

              %td= pro.standard.round(2)
      %table
    -else
      It looks like there aren't any projections for this week.
      =link_to 'Get the lastest projections here', update_projections_path
