%h1= @fantasy_team.name

.row
  .two.columns
    %ul.side-nav
      -if @fantasy_team.fantasy_league.espn_id
        %li= link_to "Update roster", update_roster_fantasy_team_path
      %li= link_to 'Edit', edit_fantasy_team_path(@fantasy_team)
      %li.divider
      %li= link_to @fantasy_team.fantasy_league.name, @fantasy_team.fantasy_league
  .ten.columns
    -if @players.any?
      %table
        %thead
          %tr
            %th Player
            %th Position
            %th Team
            %th Projection
        %tbody
          -@players.each do |p|
            %tr
              %td= p
              %td= p.position
              %td= p.team
              %td.align-right= p.weekly_projection(@current_week)
        %tfoot
          %tr
            %td{colspan: 3 } Total Points:
            %td.align-right= @total_points


    -else
      Your team doesn't have any players.
