= content_for :title do
  %h1= @player

.row
  .one.column
    %dl
      %dt Position:
      %dd= @player.position
      %dt Team:
      %dd= @player.team

  .five.columns.offset-by-one
    =render partial: 'projections/table', locals: { projections: @projections }
  .five.columns
    %h4 Injuries
    -if @player.injuries.any?
      %table
        %thead
          %tr
            %th Week
            %th Status
        %tbody
          -@player.injuries.each do |i|
            %tr
              %td= i.week
              %td= i.status
    -else
      #{@player} has no injuries.

