%tr
  %td= projection.week
  %td= projection.rank
  %td 
    %em= projection.standard
    (#{projection.standard_high}/#{projection.standard_low})
  %td 
    %em= projection.ppr
    (#{projection.ppr_high}/#{projection.ppr_low})
