%ul.nav-bar.top
  %li.brand= link_to "Commish App", root_path, :class => 'brand'
  %li{ class: active_nav('players') }
    = link_to 'All Players', players_path
  %li{ class: active_nav('weeks') }
    = link_to 'Weeks', weeks_path
  -if user_signed_in?
    %li{ class: active_nav('fantasy_leagues') }
      = link_to 'Leagues', fantasy_leagues_path
    %li{ class: active_nav('fantasy_teams') }
      = link_to 'Teams', fantasy_teams_path

  -if user_signed_in?
    %li.right= link_to "Log out", destroy_user_session_path
  -else
    %li.right= link_to 'Log in', new_user_session_path

